@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}


:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-slategray: #4a6374;
  --color-black: #000;

  /* Border radiuses */
  --br-11xl: 30px;
}
