.frame-item {
    position: absolute;
    top: 145.2px;
    left: 0;
    background-color: var(--color-slategray);
    width: 289.4px;
    height: 66px;
  }
  .frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    width: 100%;
    height: 100%;
    display: none;
  }
  .all-managers {
    position: absolute;
    top: 23px;
    left: 83.8px;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 116.3px;
    height: 22px;
    min-width: 116.3px;
    z-index: 2;
  }
  .icon-profile-2user,
  .vector-parent {
    position: absolute;
    top: 23px;
    left: 29px;
    width: 23px;
    height: 24px;
    z-index: 2;
  }
  .vector-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    top: 145px;
    left: 34px;
    border-radius: var(--br-11xl);
    width: 289px;
    height: 66px;
    z-index: 1;
  }
  .add-manager-button-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: var(--color-slategray);
    width: 100%;
    height: 100%;
    display: none;
  }
  .kosherja {
    margin: 0;
    position: absolute;
    top: 54px;
    left: 105px;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    z-index: 2;
  }
  .add-manager-button,
  .rooms-furniture-settings-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: var(--color-slategray);
    width: 323px;
    height: 145.2px;
  }
  .rooms-furniture-settings-child {
    height: 100%;
    bottom: 0;
  }
  .furniturebed-icon,
  .rooms {
    position: absolute;
    z-index: 2;
  }
  .rooms {
    top: 165.8px;
    left: 120.3px;
    font-weight: 500;
    display: inline-block;
    width: 217px;
  }
  .furniturebed-icon {
    top: 161.8px;
    left: 59px;
    width: 24px;
    height: 24px;
  }
  .add-manager {
    position: absolute;
    top: 38.8px;
    left: 120.3px;
    width: 217px;
    z-index: 2;
  }
  .add-manager,
  .buildings,
  .settings {
    font-weight: 500;
    display: inline-block;
  }
  .buildings {
    position: absolute;
    top: 101.8px;
    left: 120.3px;
    width: 217px;
    z-index: 2;
  }
  .settings {
    top: 297.8px;
    left: 119.8px;
    width: 87.9px;
    height: 22px;
  }
  .logout,
  .logout-icon-1,
  .settings {
    position: absolute;
    z-index: 2;
  }
  .logout-icon-1 {
    top: 687.5px;
    left: 82.7px;
    width: 15.9px;
    height: 18.7px;
    overflow: hidden;
  }
  .logout {
    position: absolute;
  top: 200px;
  left: 20px;
    font-weight: 500;
    display: inline-block;
    width: 76.2px;
    height: 22px;
  }
  .banking-financechartbars,
  .survey {
    position: absolute;
    top: 232.8px;
    left: 61px;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
  .survey {
    top: 234.8px;
    left: 120px;
    font-weight: 500;
    display: inline-block;
    width: 60.7px;
    height: 22px;
    min-width: 60.7px;
  }
  .buildings-landmarksbuilding {
    position: absolute;
    top: 100.8px;
    left: 61px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    z-index: 2;
  }
  .essentialsgear-icon,
  .softwareadd-layer-icon {
    position: absolute;
    top: 39.8px;
    left: 61px;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
  .essentialsgear-icon {
    top: 297.8px;
    overflow: hidden;
  }
  .rectangle-parent,
  .rooms-furniture-settings {
    position: absolute;
    top: 211.2px;
    left: 0;
    width: 337.3px;
    height: 100vh;
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    height: 100vh;
    top: 0;
    bottom: 0;
    width: 20%;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  @media screen and (max-width: 767px) {
    .kosherja {
      font-size: var(--font-size-7xl);
    }
  }
  @media screen and (max-width: 450px) {
    .kosherja {
      font-size: var(--font-size-lgi);
    }
  }
  

