.box3 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: var(--corner-501);
  background-color: var(--surface-default);
  border: 1px solid var(--neutral-200);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.checkbox3 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.avatar-icon {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: contain;
  min-height: 36px;
}
.cell-content,
.sub-content {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-content {
  font-size: var(--body-small-highlight-size);
  line-height: 16px;
  color: var(--text-tertiary);
}
.nested-table-cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.table-cell12 {
  align-self: stretch;
  background-color: var(--surface-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-150) var(--spacing-200);
  gap: var(--spacing-100);
  text-align: left;
  font-size: var(--link-medium-size);
  color: var(--text-secondary);
  font-family: var(--body-small-highlight);
}
